<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Home</a></li>
  <li><a href="{{ root_url }}/releases">Releases</a></li>
  <li><a href="{{ root_url }}/story">Story</a></li>
  <li><a href="{{ root_url }}/gear">Gear</a></li>
  <li><a href="{{ root_url }}/label">Label</a></li>  
  <li><a href="{{ root_url }}/label">Services</a></li>  
  <li><a href="{{ root_url }}/contact">Contact</a></li>
  <!-- <li><a href="{{ root_url }}/clients">Clients</a></li> -->
  <!-- <li><a href="{{ root_url }}/blog">Releases</a></li> -->
  <!-- <li><a href="{{ root_url }}/blog/archives">Archives</a></li> -->
</ul>
