---
layout: default
---

<div class="home-page">
  <div class="hero">
    {% include custom/hero.html %}
  </div>

  <div class="home-field">
    <div class="home-landing her-row">
      <div class="container">
        <div class="row">
          {% include custom/home_landing_row.html %}
        </div>
      </div>
    </div>

    <div class="article-list">
      <div class="container">
        {% for post in paginator.posts %}
          {% assign content = post.content %}
          <div class="row">
            <div class="col-md-offset-3 col-md-6">
              {% include article_listing.html %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="release row text-center">
      <div class="col-md-6 col-md-offset-3">
        <h3><b>Latest Release</b></h3>
        <hr class="divider-short"/>
        <h3>Walk On Home</h3>
        <p>TY&TC - 9/12/2014</p>
        <iframe width="300" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/167369053&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
      </div>
    </div>

    <div class="archive-link">
      <h3 style="display:none;"><a href="/posts/">All Posts</a></h3>
    </div>
  </div>
</div>
